# Copier en .env et renseigner
GCP_PROJECT_ID=mon-projet-gcp
BQ_RAW_DATASET=nyc_taxi_raw
BQ_ANALYTICS_DATASET=nyc_taxi_analytics
BQ_LOCATION=US
GOOGLE_APPLICATION_CREDENTIALS=

SPARK_DRIVER_MEMORY=4g
SPARK_SHUFFLE_PARTITIONS=8
